@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');  

/* navbar */
* {font-family: 'Poppins', Arial, Helvetica, sans-serif;}         
.navbar {box-shadow: 0 3px 7px rgba(0, 0, 0, .4);}
.shadow-xlg {box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}
ul li a:hover {text-decoration: underline;}
/* end navbar */

.information p {
    font-size: 1.2rem;
}

/* hover effect */
.shadow-hover {box-shadow: 4px 4px #212529;}
.btn-outline-dark:hover, .mt-5 button:hover {box-shadow: none;}
.d-flex button:hover > a,
.btn-outline-dark:hover > a {color: white !important;}
/* end hover effect */

/* responsive custom */ 
@media (max-width:960px) {
    .header {gap: 1rem !important;}
    .information p {font-size: 1rem;}
}

@media (max-width: 560px) {
}