@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {font-family: 'Poppins', Arial, Helvetica, sans-serif;}         
.navbar {box-shadow: 0 3px 7px rgba(0, 0, 0, .4);}

html {
    scroll-behavior: smooth;
}

/* navbar */
* {font-family: 'Poppins', Arial, Helvetica, sans-serif;}         
.navbar {box-shadow: 0 3px 7px rgba(0, 0, 0, .4); top: 0;}
.shadow-xlg {box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}
ul li a:hover {text-decoration: underline;}
.shadow-hover {box-shadow: 4px 4px #212529;}
.btn-outline-dark:hover, .mt-5 button:hover {box-shadow: none;}
.d-flex button:hover > a,
.btn-outline-dark:hover > a {color: white !important;}
/* end navbar */

/* custom css */
.mt-3rem {margin-top: 3.7rem;}
.fs-normal {font-size: .9rem !important;}
.p-10 {padding: 4.5rem;}
.shadow-xlg {box-shadow: 0 15px 20px rgba(0, 0, 0, .4) !important;}
.vh-80 {height: 80vh;}
.text-justify{text-align: justify;}
.img-h {height: 220px !important;}
/* end custom css */

.container-fluid, .transition {width: 100vw;}

a:has(i) {
    position: relative !important; 
    transition:  .2s ease-in;
}
.card {box-shadow: 0 0 15px rgba(0, 0, 0, .4); transition: transform .1s ease-in-out;}

/* transition */
.transition {
    background-image: linear-gradient(#E2E3E5, white);
    height: 10rem;
}
/* end transition */

/* hover effect */
.btn-outline-dark, .mt-5 button {box-shadow: 4px 4px #212529;}
.btn-outline-dark:hover, .mt-5 button:hover {box-shadow: none;}
.d-flex button:hover > a,
.btn-outline-dark:hover > a {color: white !important;}
.d-flex a:hover {text-decoration-color: black !important;}
a:has(i):hover {top: -10px; }
.card:hover {transform: translateY(-7px);}
/* end hover effect */
    

/* responsive < 576px */
@media (max-width: 576px) {
    .p-10 {padding: 20px;}
    .p-10 p {text-align: left;}
    .mt-4 {text-align: center;}
    .transition {margin-top: 18rem;}
    .col {padding: 0;};
    .container{height: fit-content;}
    .kampret {transform: translateX(14px);}
    /* maaf hehe */
}

/* responsive < 350px */
@media (max-width: 350px) {
    .transition{margin-top: 34rem;}
    .container {width: fit-content;}
    .move {margin-left: -10px !important;}
        

    .p-3 {width: 85vw;}
}
/* end responsive */