@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* navbar */
* {font-family: 'Poppins', Arial, Helvetica, sans-serif;}         
.navbar {box-shadow: 0 3px 7px rgba(0, 0, 0, .4); top: 0;}
.shadow-xlg {box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;}
ul li a:hover {text-decoration: underline;}
.shadow-hover {box-shadow: 4px 4px #212529;}
.btn-outline-dark:hover, .mt-5 button:hover {box-shadow: none;}
.d-flex button:hover > a,
.btn-outline-dark:hover > a {color: white !important;}
/* end navbar */
    

.container {
    margin-top: 5.5rem !important;
}
.w-vmin {
    width: 70vmin !important;
    margin: auto;
}

@media (max-width: 960px) {
    .down {
        transform: translateY(7rem);
    }
    h2 {font-size: 2rem; margin-bottom: 3rem !important;}    
}

@media (max-width: 560px) {
    .container { transform: translateY(0); margin-bottom: 10rem;}
    form {transform: scale(1.3) translateY(4rem);}
        
}